<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_mark.student_id %>
</p>

<p>
  <strong>Sem1:</strong>
  <%= @student_mark.sem1 %>
</p>

<p>
  <strong>Sem2:</strong>
  <%= @student_mark.sem2 %>
</p>

<p>
  <strong>Sem3:</strong>
  <%= @student_mark.sem3 %>
</p>

<p>
  <strong>Sem4:</strong>
  <%= @student_mark.sem4 %>
</p>

<p>
  <strong>Sem5:</strong>
  <%= @student_mark.sem5 %>
</p>

<p>
  <strong>Sem6:</strong>
  <%= @student_mark.sem6 %>
</p>

<p>
  <strong>Sem7:</strong>
  <%= @student_mark.sem7 %>
</p>

<p>
  <strong>Sem8:</strong>
  <%= @student_mark.sem8 %>
</p>

<%= link_to 'Edit', edit_student_mark_path(@student_mark) %> |
<%= link_to 'Back', student_marks_path %>
